
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">상세</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header">
                @Model.Title
            </div>
            <div class="card-body">
                @Model.Contents
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
            </div>
        </div>
    </div>
</div>